* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.Container {
	display: block;
	height: auto;
	margin: 1rem auto;
	padding: 0;
	width: 500px;
}

.Container--bg-gray {
	background-color: #999;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.Container-title,
.Container-subTitle {
	margin: 0;
	text-shadow: 1px 1px 1px #555;
}

.Container-title {
	color: #fff;
	padding: 2rem 0 0 1rem;
}

.Container-subTitle {
	color: #eee;
	font-size: 1rem;
	padding: 0 0 2rem 1rem;
}

.Form {
	display: block;
	width: 100%;
}

.Form-text,
.Form-submit {
	display: inline-block;
	vertical-align: middle;
}

.Form-text {
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
}

.Form-submit {
	background-color: #999;
	border: none;
	border-radius: 0.25rem;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 0.5rem;
}

.Task {
	align-content: center;
	align-items: center;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	width: 100%;
}

.Task-element {
	background-color: #ddd;
	border-radius: 0.25rem;
	list-style: none;
	margin: 0.5rem 0.5rem 0.5rem 0;
	padding: 0.5rem;
}